<html>
    <head>
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/indexstyle.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>